@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Economica|Glegoo|Electrolize|Jura|Kanit|Play|Sorts+Mill+Goudy|Ubuntu+Condensed');

body {
	background-color: rgb(30, 30, 30);
	color: rgb(200, 200, 200);
}

p {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 150px;
	margin-left: 80px;
	font-size: 24;
}

.img-caption {
	font-size: 20;
	font-style: italic;
	text-align:center;
}

img.banner {
	max-width: 80%;
	height: auto;
	max-height: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.trailer {
	display: block;
	margin-left: auto;
	font-family: 'Play', sans-serif;	margin-right: auto;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;

}

.topnav .left {
	position: absolute;
}

/* Style the links inside the navigation bar */
.topnav .left a {
    float: left;
    color: #ff9000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 31px;
    font-family: 'Economica', sans-serif;
	letter-spacing: 2px;
}

.topnav .right {
	float: right;
}

.topnav .right a {
	float: right;
}

.topnav .right a {
	float: right;
}


/* Change the color of links on hover */
.topnav .left a:hover {
    background-color: #160944;
    color: #ff9000;
}

.topnav .right a:hover {
	color: #ff9000;
}

.maintext {
    text-align: center;
    color: #ff9000;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    width: 16px;
	height: 16px;
    text-align: center;
    text-decoration: none;
	margin: 6px;
    border-radius: 30%;
}

.fa:before {
	font-size: 22px;
	display: inline;
}

/* Add a hover effect if you want */
.fa:hover {
    /*opacity: 0.7;*/
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

img.mushroom {
  position: relative;
  top: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

img.mushroom:hover {
	background: #ff5700; 
}

.centered {     
  position: relative;     
  left:15%;
  font-size: 15;
}

.mc_embed_signup {
	background: #000000;
	width: 300;
	margin-left: auto;
	margin-right: auto;
}


.topnav .left {
  overflow: hidden;
  background-color: transparent;
  color: #ff9000;
  letter-spacing: 2px;
}

.topnav .left a {
  float: left;
  font-size: 16px;
  color: #ff9000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 31px;
  font-family: 'Economica', sans-serif;
  letter-spacing: 2px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: #ff9000;
	padding: 14px 16px;
	background-color: inherit;
	font-size: 31px;
	font-family: 'Economica', sans-serif;
	margin: 0;
	letter-spacing: 2px;
}

.topnav .left a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(30, 0, 70);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(50, 50, 50);
  color: orange;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-size: 31px;
  letter-spacing: 2px;
  color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Economica', sans-serif;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* unvisited link */
.link:link {
  color: orange;
}

/* visited link */
.link:visited {
  color: blue;
}