@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Economica|Glegoo|Electrolize|Jura|Kanit|Play|Sorts+Mill+Goudy|Ubuntu+Condensed');

body {
	background-color: black;
	color: orange;
}

img.banner {
	max-width: 80%;
	height: auto;
	max-height: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.trailer {
	display: block;
	margin-left: auto;
font-family: 'Play', sans-serif;	margin-right: auto;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;

}

.topnav .left {
	position: absolute;
}

/* Style the links inside the navigation bar */
.topnav .left a {
    float: left;
    color: #ff9000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 31px;
    font-family: 'Economica', sans-serif;
	letter-spacing: 2px;
}

.topnav .right {
	float: right;
}

.topnav .right a {
	float: right;
}

/* Change the color of links on hover */
.topnav .left a:hover {
    background-color: #160944;
    color: #ff9000;
}

.topnav .right a:hover {
	color: #ff9000;
}

.maintext {
    text-align: center;
    color: #ff9000;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    width: 16px;
	height: 16px;
    text-align: center;
    text-decoration: none;
	margin: 6px;
    border-radius: 30%;
}

.fa:before {
	font-size: 22px;
	display: inline;


}

/* Add a hover effect if you want */
.fa:hover {
    /*opacity: 0.7;*/
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

img.mushroom {
  position: relative;
  top: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

img.mushroom:hover {
	background: #ff5700; 
}