@import url('https://fonts.googleapis.com/css?family=Economica|Electrolize|Jura|Kanit|Play|Sorts+Mill+Goudy|Ubuntu+Condensed');

body {
	background-color: black;
	color: orange;
}

img.banner {
	max-width: 100%;
	height: auto;
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.trailer {
	display: block;
	margin-left: auto;
font-family: 'Play', sans-serif;	margin-right: auto;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ff9000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Economica', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #160944;
    color: #ff9000;
}
